@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0;
    background: #66288f;
    font-family: -apple-system, sans-serif;
}

.user {
    text-align: left;
    font-size: 120%;
    font-weight: 400;
    color: rgb(16, 211, 211);
    line-height: 25px;
    position: absolute;
    right: 0;
    display: table-cell;
}

.context {
    width: 100%;
    position: absolute;
    top: 50vh;
}

.context h1 {
    font-size: 300%;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: "Exo", sans-serif;
    text-shadow: 2px 2px 2px #e9e7e7;
    text-align: center;
}

h2 {
    font-size: 250%;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    text-shadow: 2px 2px 2px #e9e7e7;
}

.area {
    background: #66288f;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    width: 100%;
    height: 2450px;
}

p {
    margin-top: 0.7em;
}

.warning {
    color: rgb(62, 148, 236);
}

.st_viewport {
    max-height: 500px;
    overflow: auto;
}

[data-table_id="0"] {
    background-color: rgb(255, 255, 255);
}

[data-table_id="1"] {
    background-color: rgb(255, 115, 0);
}

[data-table_id="2"] {
    background-color: rgb(61, 53, 39);
    color: rgb(220, 220, 220);
}

[data-table_id="3"] {
    background-color: rgba(168, 189, 4, 0.8);
}

[data-table_id="4"] {
    background-color: rgb(0, 195, 255);
}

._rank {
    min-width: 80px;
}

._id {
    min-width: 60px;
}

._name {
    min-width: 130px;
}

._surname {
    min-width: 130px;
}

._year {
    min-width: 80px;
}

._section {
    min-width: 130px;
}

pre {
    overflow: auto;
}

/** Sticky table styles **/
.st_viewport {
    background-color: rgb(62, 148, 236);
    color: rgb(27, 30, 36);
    margin: 20px 0;
}

/* ###  Table wrap */
/*.st_wrap_table {}*/

/* ##   header */
.st_table_header {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: rgb(27, 30, 36);
    color: rgb(220, 220, 220);
}

.st_table_header h2 {
    font-weight: 400;
    margin: 0 20px;
    padding: 20px 0 0;
}

.st_table_header .st_row {
    color: rgba(220, 220, 220, 0.7);
}

/*.st_table_header .st_column {}*/

/* ##  table */
.st_table {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

/* #   row */
.st_row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
}

.st_table .st_row:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.1);
}

/* #   column */
.st_column {
    padding: 10px 20px;
    width: 100%;
}

.bottom {
    height: 5rem;
    background: linear-gradient(to right, #100716, #00ffff);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    color: white;
}

button {
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 15px 25px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4caf50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #3c8a3e;
}

button:hover {
    background-color: #3e8e41;
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 2px #3c8a3e;
    transform: translateY(4px);
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 390%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}
